.event-item {
    width: calc(80% - 20px);
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    padding: 0 10px;
}


#eventForm {
    display: none;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(220, 220, 220);
    padding: 20px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    box-shadow: #333;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

#eventForm input {
    width: 100%;
    height: 3vh;
    margin-bottom: 10px;
}

#eventForm div {
    display: flex;
    gap: 15px;
}

#eventForm button {
    width: 100%;
    height: 3.5vh;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: normal;
    border: none;
    cursor: pointer;
}

#eventForm button:hover {
    opacity: 0.85;
}

.cancel-btn {
    background-color: rgb(250, 250, 250);
    color: black;
}

.accept-btn {
    background-color: rgb(80, 80, 220);
    color: white;
}

.delete-btn {
    background-color: rgb(220, 80, 80);
    color: white;
}