:root {
    --font-family: Arial, sans-serif;
    
    --header-background-color: #333;
    --header-text-color: #fff;
    
    --content-background-color: #f0f0f0;
    
    --menu-background-color: #333;
    --menu-text-color: #fff;
    --menu-hover-color: #555;
    
    --tab-item-font-size: smaller;
}